body {
  height:100%;
}

/* Start Header Alert */

.header__alert {
  background-color: var(--color-dark-blue);
  color: var(--color-bright);
  padding: 1em 0;
  text-align: center;
  height:40px;
  font-size: 14px;
}

.header__nav {
  background-color: var(--color-bright);
  inset: 0;
  position: absolute;
  border-bottom: var(--color-border);
}

/* End Header Alert */

/* Start Header Top */

.header__top {
  display: none;
  border-bottom: 1px solid lightgray;
}

.header__top__container {
  display: flex;
  justify-content: space-between;
}

.list-inline{
  display:flex;
  list-style:none;
  text-decoration:none;
  padding: 0;

}

.list-inline a{
  color: var(--color-light-gray);
  text-decoration:none;
  font-size: 12px;
  line-height: 12px;

}

.header__nav__login{
    display: flex;
    margin-left:auto;
    align-items: center;
}

.header__nav__login .header__nav__links {
  display: none;
}
/* End Header Top */

/* Start Header Bottom */

.header__bottom__container {
  display: flex;
  text-indent: 16px;
  align-items: center;
}

.header__bottom {
  border-bottom: 1px solid lightgray;
  padding: 16px 0;
}

.header__nav__links {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  text-decoration: none;
  color: var(--color-dark-black);
}

.menu-dropdown {
  display: none;
}

.header__nav ul {
  list-style: none;
}
.header__nav ul li {
  padding: 10px 0;
}
/* End Header Bottom */

@media (min-width: 768px) {

  /* start header top */
  .header__alert {
    font-size: 16px;
  }
  .header__top {
    display: block;
  }

  .header__nav__login .header__nav__links {
    display: block;
  }
  .menu-dropdown {
    display: block;
  }
  #top-links-left li {
    margin-right: 10px;
  }

  #top-links-right li {
    margin-left: 10px;
  }
  /* end header top */

  /* start header bottom */
  .header__nav {
    position: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style:Roboto;
  }

  .header__bottom__container {
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    text-indent:0;
    margin-top:0;
    align-items: center;
  }
  .header__nav__links {
    display: block;
    color: var(--color-dark);
  }
  .header__icon__menu {
    display:none;
  }

  .header__nav__login .header__nav__links {
    color: #0066FF;
    font-weight: bold;
  }
  .header__nav ul {
    display: flex;
    margin: 0;
    padding: 0;
  }

  /* end header bottom */

}











 






 
